</main>
<footer class="bg-neutral mt-auto py-10 border-t-1">
  <div class="container mx-auto px-3 flex gap-8">
    <address>
      <a href="index.html">
        <img class="ps-7" src="../../logo.svg" alt="logo">
      </a>
    </address>
    <div class="flex flex-row justify-center gap-15">

      <nav class="flex flex-col gap-4">
        <a href="index.html" class="hover:text-cyan">home</a>
        <a href="box-sizing.html" class="hover:text-cyan">box-sixing</a>
        <a href="flex-box.html" class="hover:text-cyan">flex-box</a>
      </nav>

      <nav class="flex flex-col gap-4">
        <a href="template-page.html" class="hover:text-cyan">template-page</a>
        <a href="fonts.html" class="hover:text-cyan">fonts</a>
        <a href="nth-child.html" class="hover:text-cyan">nth-child</a>
      </nav>

      <nav class="flex flex-col gap-4">
        <a href="position.html" class="hover:text-cyan">position</a>
        <a href="position-sticky.html" class="hover:text-cyan">position-sticky</a>
        <a href="animation.html" class="hover:text-cyan">animation</a>

      </nav>

    </div>
  </div>
  <a href=" nav.html"
    class="navigation-link fixed left-6 bottom-6 bg-cyan text-stone rounded-full py-1 px-3 hover:bg-white">
    nav</a>
</footer>
<script type="module" src="/src/main.js"></script>