<div class="modal" id="modal-register">
  <div class="modal-body">
    <h2>modal-register</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio delectus libero magnam velit voluptatibus
    voluptates repellendus! Quisquam tempore suscipit facilis, alias libero, beatae harum necessitatibus
    repellendus
    animi architecto ratione dicta pariatur aspernatur nostrum quae eveniet commodi ut amet autem voluptatem
    ullam!
    Vero suscipit perspiciatis facilis vel, consequuntur excepturi eum hic repellat repellendus obcaecati
    laborum
    aliquam incidunt delectus aperiam nam laudantium quod, porro voluptate aspernatur. Nesciunt eveniet eum
    minima
    <button type="button" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer" data-close-modal>close
      window</button>
  </div>
</div>

<div class="modal" id="modal-login">
  <div class="modal-body">
    <form class="grid gap-5">
      <div>
        <label for="login">Введіь ім'я</label>
        <input id="login" type="text" placeholder="login" class="border border-1">
      </div>
      <div>
        <label for="password">Введіь пароль</label>
        <input id="password" type="text" placeholder="password" class="border border-1">
      </div>
      <button type="button" class="text-red-400 hover:text-red-600" data-triger="modal-register">Регістрація</button>
      <div class="flex gap-3">
        <button type="submit" class="px-8 py-3 bg-blue-400 hover:bg-blue-600 cursor-pointer">Ok</button>
        <button type="button" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer" data-close-modal>close
          window</button>
      </div>
    </form>
  </div>
</div>

<div class="modal" id="modal-1">
  <div class="modal-body">
    <h2>moda-3</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio delectus libero magnam velit voluptatibus
    voluptates repellendus! Quisquam tempore suscipit facilis, alias libero, beatae harum necessitatibus repellendus
    animi architecto ratione dicta pariatur aspernatur nostrum quae eveniet commodi ut amet autem voluptatem ullam!
    Vero suscipit perspiciatis facilis vel, consequuntur excepturi eum hic repellat repellendus obcaecati laborum
    aliquam incidunt delectus aperiam nam laudantium quod, porro voluptate aspernatur. Nesciunt eveniet eum minima
    <button type="button" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer" data-close-modal>close
      window</button>
  </div>
</div>
<div class="modal" id="modal-2">
  <div class="modal-body">
    <h2>moda-3</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio delectus libero magnam velit voluptatibus
    voluptates repellendus! Quisquam tempore suscipit facilis, alias libero, beatae harum necessitatibus repellendus
    animi architecto ratione dicta pariatur aspernatur nostrum quae eveniet commodi ut amet autem voluptatem ullam!
    Vero suscipit perspiciatis facilis vel, consequuntur excepturi eum hic repellat repellendus obcaecati laborum
    aliquam incidunt delectus aperiam nam laudantium quod, porro voluptate aspernatur. Nesciunt eveniet eum minima
    <button type="button" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer" data-close-modal>close
      window</button>
  </div>
</div>
<div class="modal" id="modal-3">
  <div class="modal-body">
    <h2>moda-3</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio delectus libero magnam velit voluptatibus
    voluptates repellendus! Quisquam tempore suscipit facilis, alias libero, beatae harum necessitatibus repellendus
    animi architecto ratione dicta pariatur aspernatur nostrum quae eveniet commodi ut amet autem voluptatem ullam!
    Vero suscipit perspiciatis facilis vel, consequuntur excepturi eum hic repellat repellendus obcaecati laborum
    aliquam incidunt delectus aperiam nam laudantium quod, porro voluptate aspernatur. Nesciunt eveniet eum minima
    <button type="button" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer" data-close-modal>close
      window</button>
  </div>
</div>
<div class="modal" id="modal-4">
  <div class="modal-body">
    <h2>moda-4</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio delectus libero magnam velit voluptatibus
    voluptates repellendus! Quisquam tempore suscipit facilis, alias libero, beatae harum necessitatibus repellendus
    animi architecto ratione dicta pariatur aspernatur nostrum quae eveniet commodi ut amet autem voluptatem ullam!
    Vero suscipit perspiciatis facilis vel, consequuntur excepturi eum hic repellat repellendus obcaecati laborum
    aliquam incidunt delectus aperiam nam laudantium quod, porro voluptate aspernatur. Nesciunt eveniet eum minima
    <button type="button" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer" data-close-modal>close
      window</button>
  </div>
</div>


<style>
  .modal {
    position: fixed;
    inset: 0;
    background: #000000ba;
    backdrop-filter: blur(10px);
    z-index: 20;
    display: none;
    align-items: center;
    justify-content: center;

    &.show {
      display: grid;
    }
  }
</style>