<div class="modal">
  <div class="modal-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur sequi optio blanditiis itaque cupiditate,
    molestiae dolorum quidem fugiat modi nostrum quisquam tempora? Nobis harum, qui molestiae corporis ratione explicabo
    et id! Porro ad vel reprehenderit dolore, iure omnis fugit asperiores accusantium incidunt iste totam aperiam
    molestias adipisci id blanditiis expedita iusto dicta, itaque rerum magnam voluptate? Autem suscipit sunt commodi
    voluptatum voluptates reiciendis dicta accusamus modi recusandae cumque obcaecati non repellat eum quod sequi,
    voluptatem aliquam corrupti, quos ad quia eius. Facilis distinctio sit esse assumenda eaque cumque dolor non vitae
    aperiam? Velit, sequi consectetur fuga labore quas blanditiis distinctio dolores eligendi recusandae pariatur saepe!
    Perferendis ex voluptates, recusandae rem aut reiciendis ut, vel ea optio doloremque doloribus? At labore ipsum
    obcaecati deleniti iusto distinctio incidunt assumenda dignissimos tempore modi est cum repellendus blanditiis vero
    hic sed atque fugiat, quod aut eveniet numquam, aliquid corrupti itaque? Accusamus dolore sapiente nesciunt est.
    Quas, in quidem nobis eius, minus dignissimos suscipit, commodi nesciunt cum ad molestiae quo veritatis deserunt?
    Blanditiis cupiditate explicabo quam corrupti doloremque nam porro, in nostrum!
    <button type="button" id="close-window" class="mx-auto px-8 py-3 bg-pink-200 hover:bg-pink-500 cursor-pointer">Close
      window</button>
  </div>
</div>

<style>
  .modal {
    position: fixed;
    inset: 0;
    background: #000000ba;
    backdrop-filter: blur(10px);
    z-index: 20;
    display: none;
    align-items: center;
    justify-content: center;

    &.show {
      display: grid;
    }
  }
</style>