<section>
  <div class="grid md:grid-cols-2 max-w-5xl px-3 mx-auto items-start pb-38 gap-6">
    <div class="grid gap-6">
      <h6 class="-mb-4 text-gray-500">MY PROJECTS</h6>
      <h2 class="text-3xl md:text-5xl font-bold max-w-172.25 mb-20">Work that I’ve done for the past 8 years</h2>
      <div class="bg-indigo-950 pb-10">
        <img src="project-1.png" class="w-full mb-10" alt="project">
        <h3 class="mb-3 px-8 text-2xl font-bold">Restaurant Website Design</h3>
        <h6 class="px-8 text-lg text-gray-500">I worked with the guys at CBRE to redesign their entire website and
          mobile app fro both Android
          and iOS.
          This project
          lasted for 4 months and was a very challenging one.</h6>
      </div>
      <div class="bg-indigo-950 pb-10">
        <img src="project-2.png" class="w-full mb-10" alt="project">
        <h3 class="mb-3 px-8 text-2xl font-bold">Restaurant Website Design</h3>
        <h6 class="px-8 text-lg text-gray-500">I worked with the guys at CBRE to redesign their entire website and
          mobile app fro both Android
          and iOS.
          This project
          lasted for 4 months and was a very challenging one.</h6>
      </div>
    </div>
    <div class="grid gap-6">
      <div class="bg-indigo-950 pb-10">
        <img src="project-3.png" class="w-full mb-10" alt="project">
        <h3 class="mb-3 px-8 text-2xl font-bold">Restaurant Website Design</h3>
        <h6 class="px-8 text-lg text-gray-500">I worked with the guys at CBRE to redesign their entire website and
          mobile app fro both Android
          and iOS.
          This project
          lasted for 4 months and was a very challenging one.</h6>
      </div>
      <div class="bg-indigo-950 pb-10">
        <img src="project-4.png" class="w-full mb-10" alt="project">
        <h3 class="mb-3 px-8 text-2xl font-bold">Restaurant Website Design</h3>
        <h6 class="px-8 text-lg text-gray-500">I worked with the guys at CBRE to redesign their entire website and
          mobile app fro both Android
          and iOS.
          This project
          lasted for 4 months and was a very challenging one.</h6>
      </div>
      <button
        class="border-1 border-purple text-lg flex mx-auto py-6 px-8 uppercase font-bold mt-16.75 hover:bg-purple cursor-pointer">VIeW
        ALL PROJECTS</button>
    </div>
  </div>
</section>