<section>
    <div class="max-w-5xl px-3 mx-auto">
        <h2 class="text-3xl md:text-5xl font-bold mb-6 eading-[1.2]">Photography</h2>
        <p class="text-lg eading-[1.5] mb-24 max-w-147 text-gray-500">Here is a collection of my best travel pictures
            that I took while
            travelling places all around the world. </p>
        <div id="tabs" class="tabs">
            <nav id="tabs-nav" class="mb-12 flex gap-6">
                <button data-tab-content="content-1"
                    class="px-4 py-2 bg-purple border border-purple cursor-pointer hover:bg-purple">ITALY</button>
                <button data-tab-content="content-2"
                    class="px-4 py-2 border border-purple cursor-pointer hover:bg-purple">AUSTRALIA</button>
                <button data-tab-content="content-3"
                    class="px-4 py-2 border border-purple cursor-pointer hover:bg-purple">INDIA</button>
                <button data-tab-content="content-4"
                    class="px-4 py-2 border border-purple cursor-pointer hover:bg-purple">BRAZIL</button>
            </nav>
            <div class="pb-30">
                <div id="content-1" class="tab-content grid grid-cols-4 gap-6">
                    <img src="" alt="ITALY">
                    <img src="" alt="ITALY">
                    <img src="" alt="ITALY">
                    <img src="" alt="ITALY">
                </div>
                <div id="content-2" class="tab-content grid grid-cols-4 gap-6 hidden">
                    <img src="" alt="AUSTRALIA">
                    <img src="" alt="AUSTRALIA">
                    <img src="" alt="AUSTRALIA">
                    <img src="" alt="AUSTRALIA">
                </div>
                <div id="content-3" class="tab-content grid grid-cols-4 gap-6 hidden">
                    <img src="" alt="INDIA">
                    <img src="" alt="INDIA">
                    <img src="" alt="INDIA">
                    <img src="" alt="INDIA">
                </div>
                <div id="content-4" class="tab-content grid grid-cols-4 gap-6 hidden">
                    <img src="" alt="BRAZIL">
                    <img src="" alt="BRAZIL">
                    <img src="" alt="BRAZIL">
                    <img src="" alt="BRAZIL">
                </div>
            </div>
        </div>
    </div>
</section>