@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Funnel+Display:wght@300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Sen:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
	--color-stone: #222831;
	--color-neutral: #393e46;
	--color-cyan: #1bf5ff;
	--color-white: #eeeeee;
	--color-purple:#5221E6;
	--color-neutral-300: #C4C4C4;
	--color-indigo-950: #181823;

	--text-h1: 48px;
	--text-h2: 42px;
	--text-h3: 36px;
	--text-h4: 28px;
	--text-h5: 24px;
	--text-h6: 20px;
	--text-banner-title: 78px;

	--margin-template: 100px;
	--padding-template: 100px;

	--font-funnel-display: "Funnel Display", sans-serif;
	--font-nunito-sans: "Nunito Sans", sans-serif;
	--font-sen: "Sen", sans-serif;
	--font-amarante: "Amarante", serif;

	--container-5xl: 1464px;
}

@layer components {
	body {
		font-family: var(--font-funnel-display);
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		color: var(--color-white);
	}

	h1 {
		font-size: var(--text-h1);
	}
}
[alt=""], img:not([alt]) {
	filter: blur(2px);
	opacity: 0.6;
}